
#dashboardComponent {
    display: flex;
}


#LeftBarDashBoard {
    background-color: rgb(219, 212, 220);
    border-radius: 15px;
    height: 600px;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 15px;
    text-align: center;
}

#LeftBarDashBoard h2 {
    margin-bottom: 20px;
}

#LeftBarDashBoard button
 {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    height: 45px;
    width: 150px;
    margin-bottom: 12px;
    background-color: white;
}

#logOut
{
    display: inline-block;
    text-decoration: none;
    color: black;
}




#middleDashBoard 
{
    background-color: rgb(219, 212, 220);
    border-radius: 15px;
    height: auto;
    padding: 20px;
    width: 800px;
    margin-top: 5px;
    margin-left: 10px;
}

#middleDashBoard h2
{
    text-align: center;
    margin-bottom: 20px;
}



table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


#back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(219, 212, 220);
    color: black;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
}
