body 
{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

#PaymentContent 
{
    background-color: rgb(219, 212, 220);
    width: 450px;
    margin: 80px;
    margin-left: 450px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
}

#PaymentMSG 
  {
      text-align: center;
      margin-bottom: 25px;
  }


#email
 {
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 5px;
}

#textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid black;
    resize: none;
}

.methodBox {
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.total {
    font-size: 18px;
    margin-top: 10px;
}

#submitButton {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(219, 212, 220);;
    font-size: 16px;
    cursor: pointer;
}