#dashboardComponent{
    display: flex;
  
 
    
}
#LeftBarDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 15px;
    
}
#dashboard{

    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
}

#users{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#products{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#reports{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}

#setting{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#admin{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#orders{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#totalfarmers{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;
}

#totalBuyer{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;
}

#totalEmployee{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;

}


#infoOverAll{
    display: flex;
    justify-content: space-evenly;
}





#middleDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;    
    padding: 15px;
    width: 800px;
    margin-top: 5px;
    margin-left: 10px;
    
}

#rightDashBoard{
     background-color: rgb(219, 212, 220); 
     margin-left: 7px;
     padding: 15px;
     margin-top: 5px;
     border-radius: 15px;

}
#logOut{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
    margin-left: 35px;
}

table{
    border:2px solid black;
    margin-left:10%;
    width:70%
}
th{
    padding:10px;
    text-align:center;
}

td{
    padding:10px;
    margin:10px;
    text-align:center;
}