#dashboardComponent{
    display: flex;
  
 
    
}
#LeftBarDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 15px;
    
}
#dashboard{

    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
}

#users{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#products{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#reports{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}

#setting{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#admin{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#orders{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}



#ShopOwnerProducts{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
    width: 150px;          
    text-align: center;
}



#totalfarmers{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;
}

#totalBuyer{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;
}

#totalEmployee{
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     height: 28px;
     width: 150px; 
     text-align: center;

}

#infoOverAll{
    display: flex;
    justify-content: space-evenly;
}

#middleDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;    
    padding: 15px;
    width: 800px;
    margin-top: 5px;
    margin-left: 10px;
    
}

#rightDashBoard{
     background-color: rgb(219, 212, 220); 
     margin-left: 7px;
     padding: 15px;
     margin-top: 5px;
     border-radius: 15px;

}
#logOut{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
    margin-left: 35px;
}

#productButton{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 14px;
}


#addProduct{
    background-color: rgb(72, 183, 94);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#updateProduct{
    background-color: rgb(72, 183, 94);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#deleteProduct{
    background-color: rgb(72, 183, 94);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#CartButton{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 14px;
}


#deleteButton {
    background-color: rgb(180, 38, 38);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }


  #back{
    display: inline-block; 
    margin-top: 20px; 
    margin-right: 10px;
    padding: 5px; 
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    text-decoration: none;
  }




#AddToCart {
    background-color: rgb(18, 165, 55);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}


#showCart{
    background: white;
    color: black;
    font-size: 20 px;
    text-decoration: none;
    padding : 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}

