    #dashboardComponent{
        display: flex;
    
    
        
    }
    #LeftBarDashBoard{
        background-color: rgb(219, 212, 220);  
        border-radius: 15px;
        height: 550px;
        width: 200px;
        padding: 15px;
        margin-top: 5px;
        margin-left: 15px;
        
    }
    #dashboard{

        cursor: pointer;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        height: 50px;
        width: 150px;          
        text-align: center;
    }

    #myOrders{
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        height: 50px;
        width: 150px;          
        text-align: center;
    }
    #products{
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        height: 50px;
        width: 150px;          
        text-align: center;
    }


    #setting{
        cursor: pointer;
        border: 1px solid black;;
        padding: 5px;
        border-radius: 10px;
        height: 50px;
        width: 150px;          
        text-align: center;

    }
    #farmer{
        cursor: pointer;
        border: 1px solid black;
        border-radius: 15px;
        width: 150px;   
        padding: 5px;
    }

    #infoOverAll{
        display: flex;
        justify-content: space-evenly;
    }

    #totalfarmers{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        height: 28px;
        width: 150px; 
        text-align: center;
    }

    #totalBuyer{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        height: 28px;
        width: 150px; 
        text-align: center;
    }

    #totalEmployee{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        height: 28px;
        width: 150px; 
        text-align: center;

    }
    #middleDashBoard{
        background-color: rgb(219, 212, 220);  
        border-radius: 15px;
        height: 550px;    
        padding: 15px;
        width: 800px;
        margin-top: 5px;
        margin-left: 10px;
        
    }

    #rightDashBoard{
        background-color: rgb(219, 212, 220); 
        margin-left: 7px;
        padding: 15px;
        margin-top: 5px;
        border-radius: 15px;

    }
    #logOut{
        cursor: pointer;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        height: 50px;
        width: 150px;          
        text-align: center;
        margin-left: 35px;
        text-decoration: none;
    }

    .search{
    margin: 20px;
    gap: 10px;
    }

    .search input[type="text"]{
        padding: 10px 15px;
        border: 1px solid black;
        border-radius: 4px;
        width: 300px;
    }

    .searchbtn{
        margin: 12px;
        display: inline-flex;
        gap: 10px;
    }

    .search button{
        padding: 10px 20px;
        background: rgb(25, 148, 54);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 14px;
    }

    .clearbtn{
        padding: 10px 20px;
        background: rgb(25, 148, 54);
        color: white;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px;

    }