#dashboardComponent{
    display: flex;
  
 
    
}
#LeftBarDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 15px;
    
}
#dashboard{

    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
}

#users{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#products{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}
#reports{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}

#setting{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;

}
#ShopOwner{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
    width: 150px;          
    text-align: center;

}
#orders{
    cursor: pointer;
    border: 1px solid black;;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150px;          
    text-align: center;
}



#middleDashBoard{
    background-color: rgb(219, 212, 220);  
    border-radius: 15px;
    height: 550px;    
    padding: 15px;
    width: 800px;
    margin-top: 5px;
    margin-left: 10px;
    
}


#cartTable{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
}

#cartTable th{
    text-align: center;
    padding: 10px;
}

.cartItems{
    text-align: center;

}

#stockError {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}



#deleteProduct{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    display: inline;
}


#Shopping {
    float: left;          
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgb(219, 212, 220);
    color: black;
    font-size: 15px;
    padding: 10px 5px;
    text-decoration: none;
}

#Shopping:hover{
    background-color: green;
}

#goShopping {
    float: left;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 8px;
    background: rgb(219, 212, 220);
}



#summaryBox{
    margin-top: 30px;
    padding: 10px;
    background: white;
    border-radius: 12px;
    width: 250px;
    height: 200px;
    float: right;
}


#confirmButton{
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
}

#confirmButton:hover{
    background-color: green;
}

#logOut{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;          
    text-align: center;
    margin-left: 35px;
}
