 
 #LoginComponent{
    background-color: rgb(219, 212, 220);
    border-radius: 15px;
    padding: 15px;
    height: 500px;
    width: 450px;

 }
 #fixedDisplay{
    display: flex;
    position: absolute;
 }
 #email{
    height: 25px;
    width: 150px;
    margin-left: 74px;
    
 }

 #password{
     height: 25px;
     width: 150px;
     margin-left: 49px;
 }
 #imgId{
    height: 400px;
    width: 700px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 15px;
 }
 #header{
    text-align: center;
    color: black;
 }
 #headerOfLogin{
    text-align: center;
 }
 #emailText{
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
   margin-left: 55px;
   margin-top: 50px;
   
   
 }
 #passText{
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
    margin-left: 55px;
 }
 #subMit{
   margin-left: 150px;
   border: 1px solid black;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
 }
 #SignupText{
    margin-left: 90px;
 }
 #showError{
    margin-left: 90px;
 }